div{
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
}

blockquote{
	text-align: justify
}

footer{
	text-align: right;
}

blockquote, footer{
	font-family: "Lato", Times, sans-serif;
}

button{
	float: right;
	margin-top: 10px;
}

