div{
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}

blockquote{
  text-align: justify
}

footer{
  text-align: right;
}

blockquote, footer{
  font-family: 'Duru Sans', sans-serif;
}

button{
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease 0s;
  opacity: 1;
}

i{
  color: white;
}


button:hover{
  opacity: 0.75;
}
